/* Normal text font */
.title, .big-text, .text-1, .search-bar, .transparent-btn, .fields-1, .buttons-1, .buttons-2, .clavier-buttons, .clavier-text, .table-view, .label {
	-fx-text-fill: white;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}

/* Normal text size */
.text-1, .label {
	-fx-font-size:15px;
}

/* Big text */
.big-text, .buttons-2, .transparent-btn {
	-fx-font-size: 25px;
}

/* Title text size */
.title {
	-fx-font-size: 35px;
}

/* Buttons for view 1 and 2 */
.buttons-1, .buttons-2 {
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
}

.vboxProduit{
	-fx-background-color: #0D1837;
	-fx-background-radius: 10px; 
}

/* Same buttons on mouse over */
.buttons-1:hover, .buttons-2:hover {
	-fx-background-color: white;
	-fx-background-radius: 15px;
	-fx-text-fill: #0D1837;
}

/* NumPad text field */
.clavier-text {
	-fx-background-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
}

/* View 1 fields */
.fields-1 {
	-fx-background-color: rgba(255, 255, 255, 0.3); /* Blanc presque transparent */
	-fx-prompt-text-fill: white;
}

/* Gradient background */
.root-1 {
	-fx-background-color: linear-gradient(to right, #374587, #0D1837);
}

/* Transparent buttons on left of View 2 */
.transparent-btn, .scroll-pane > .viewport, .scroll-pane {
	-fx-background-color: transparent;
}

/* View 2 search bar */
.search-bar {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: white;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
	
}

/* NumPad buttons */
.clavier-buttons {
	-fx-background-color: #1281E4;
	-fx-background-insets: 10;
	-fx-border-radius: 0;
	-fx-font-size: 45;
}

/* TableView font size and transparency */
.table-view {
	-fx-font-size: 15px;
	-fx-background-color: transparent;
}

/* TableView selection colors */
.table-row-cell:selected {
   -fx-background-color: white; 
}
.table-row-cell:selected .text {
       -fx-fill: #0D1837;
}

.table-row-cell .text {
	-fx-fill: white;
}

/* Header background transparency */
.table-view .column-header-background {
	-fx-background-color: transparent;
}

/* Header border */
.table-view .column-header {
	
}

/* TableView font and transparency */
.cell {
	-fx-text-fill: white;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
	-fx-background-color: transparent;
}

/* Header cell transparency */
.table-column {
	-fx-background-color: transparent;
}

/* Header text */
.table-view .column-header .label {
	
	-fx-text-fill: white;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}

/* TableView inner borders transparency */
.table-row-cell{
-fx-table-cell-border-color:transparent;
}

/* TableView left column */
.align-left, .align-left .label {
	-fx-border-insets: 0 30 0 0;
	-fx-alignment: CENTER_LEFT;
}

/* TableView center column */
.align-center, .align-center .label {
	-fx-border-insets: 0 30 0 30;
	-fx-alignment: CENTER;
}

/* TableView right column */
.align-right, .align-right .label {
	-fx-border-insets: 0 0 0 30;
	-fx-alignment: CENTER_RIGHT;
}
