.buttons-1 {
	-fx-background-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
}

.buttons-1:hover {
	-fx-background-color: white;
	-fx-background-radius: 15px;
	-fx-text-fill: #0D1837;
}

.clavier-text {
	-fx-background-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
}

.fields-1 {
	-fx-background-color: rgba(255, 255, 255, 0.3); /* Blanc presque transparent */
	-fx-prompt-text-fill: white;
}

.root-1 {
	-fx-background-color: linear-gradient(to right, #374587, #0D1837);
}

.transparent-btn {
	-fx-background-color: transparent;
}

.search-bar {
	-fx-background-color: transparent;
	-fx-prompt-text-fill: white;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
	
}

.clavier-buttons {
	-fx-background-color: #1281E4;
	-fx-background-insets: 10;
	-fx-border-radius: 0;
	-fx-font-size: 35;
}

/* Text */
.title, .big-text, .text, .search-bar, .transparent-btn, .fields-1, .buttons-1, .clavier-buttons, .clavier-text {
	-fx-text-fill: white;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}

.title {
	-fx-font-size: 35px;
}

.table-view {
	-fx-background-color:transparent;
}

.big-text {
	-fx-font-size: 20px;
}