.myDialog{
    -fx-background-color: linear-gradient(to right, #374587, #0D1837);
}

.myDialog > *.label.content{
	-fx-text-fill: white;
    -fx-font-size: 15px;
}
.myDialog > *.header-panel{
    -fx-background-color: linear-gradient(to right, #042379, #010c31);
}
.myDialog > *.header-panel *.label{
    -fx-font-size: 35.0px;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
	-fx-background-insets: 0.0;
	-fx-background-color: transparent;
	-fx-border-width: 2.0px;
	-fx-border-radius: 15.0px;
	-fx-border-color: white;
	-fx-font-size: 15.0px;
	-fx-text-fill: white;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: white;
	-fx-background-radius: 15.0px;
	-fx-text-fill: #0D1837;
}

