.anchorPub {
    -fx-background-image: url('file:res/images/inscription/inscription_background.jpg');
    -fx-background-size: stretch;
}

.buttonContinuer{
	-fx-background-color: linear-gradient(#0D1837, #1281E4);
	-fx-background-radius: 30.0;
}

.buttonInscrire{
	-fx-background-color: transparent;
	-fx-border-width: 2px;
	-fx-border-radius: 15px;
	-fx-border-color: white;
}

.inscriptionfields{
	-fx-background-color: rgba(13.0, 24.0, 55.0, 0.12);
	-fx-background-radius: 10.0;
	-fx-prompt-text-fill: #0D1837; 
}

.date-picker .text-field {
    -fx-control-inner-background: rgba(13.0, 24.0, 55.0, 0.01);
    -fx-prompt-text-fill: #0D1837; 
    -fx-font-family: "System Bold";
    -fx-font-size: 24.0px;
}

.choiceboxInscription{
	-fx-background-color: rgba(13.0, 24.0, 55.0, 0.12);
	-fx-background-radius: 10.0;
	-fx-prompt-text-fill: #0D1837; 
}